<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items for Sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <!-- Navbar content -->
        <a class="navbar-brand" href="/"><img width="60%" src="./images/Genavea_Logo.png" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign in<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/itemsforsale">Items For Sale</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contactinfo">Contact Information</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/techstack">Technology Stack</a>
                </li>
            </ul>
 
        </div>
    </nav>


    <table border="1px">
        <thead>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Item Category</th>
            <th>Item Price</th>
            <th>Item Quantity</th>
            <th>Item Picture</th>
        </thead>

        <tbody>

            <% for(var i =0; i<items.length;i++) { %>

            <tr>
                <td><%= items[i].item_id %></td>
                <td><%= items[i].item_name %></td>
                <td><%= items[i].item_cat %></td>
                <td><%= items[i].item_price %></td>
                <td><%= items[i].item_quantity %></td>
                <td>
                    <img src="<%= items[i].item_picture %>" alt="item image" width="20%">
                </td>
            </tr>
            <% } %>

        </tbody>

    </table>
    
    <!-- <h1 class="display-1">BTS Drawing for Sale</h1>
    <img src="/images/BTS_1.jpg" class="rounded mx-auto d-block" alt="...">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Group Sketch Php 1500.</p>
    
    <img src="/images/BTS_2.jpg" class="rounded mx-auto d-block" alt="...">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Portait 1 Php 1000</p>

    <img src="/images/BTS_3.jpg" class="rounded mx-auto d-block" alt="...">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Portait 2 Php 1000</p> -->


</body>
</html>