<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div >input{
            margin-top: 3%;
        }
    </style>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: space-around; width: 50%;">
        <form method="POST">
            <input type="text" name="update_item_name" placeholder="Item name" value="<%= data.item_name %>"<br>
            <input type="text" name="update_item_cat" placeholder="Item Category" value="<%= data.item_cat %>"><br>
            <input type="text" name="update_item_price" placeholder="Item Price" value="<%= data.item_price %>"><br>
            <input type="text" name="update_item_quantity" placeholder="Item Quantity" value="<%= data.item_quantity %>"><br>
            <input type="text" name="update_item_picture" placeholder="Item Picture" value="<%= data.item_picture %>"><br>
            <input type="hidden" name="update_item_id"  value="<%= data.item_id %>"><br>
            <input type="submit" value="Update">
        </form>
    </div>
    
</body>
</html>